{% extends 'base.html' %}
{% block title %}
About Page
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
            
            </div>
            <div class="card-body">
            <h5 class="card-title" style="color:black;">About Us</h5>
            <p class="card-text" style="color:black;">My name is Hammed Balogun, am a student of Alt School Africa. I graduated as an Accountant from UNILAG in 2016, and since then have been into tech. 
                As at then, up until i get into Alt School, i basically design website with WordPress and also do Digital Marketing. Though, am basically familier with HTML and CSS. I so much look forward to becoming a world class software engineer.
            </p>
            
            </div>
            <div class="card-footer text-muted" style="color:black;">
            Hammed Balogun
            </div>
        </div>
    </div>
{% endblock %}