{% extends 'base.html' %}

{% block title %}
Update Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form action="/post/edit/{{ blog_to_update.id }}" method="POST" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Update Blog Post
            </h1>
            <br>
            {{ form.title.label() }}
            {{ form.title(class="form-control") }}

            {{ form.slug.label() }}
            {{ form.slug(class="form-control") }}

            {{ form.body.label() }}
            {{ form.body(class="form-control") }}

            <br>
            
            {{ form.submit(class="form-control, btn-lg btn-block btn-primary")}}

            <br>

            

        </form>
    </div>
</body>
{% endblock %}